@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Space Grotesk', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;

  --color-brand-dark-50: #F0F1F4;
  --color-brand-dark-100: #D8DAE2;
  --color-brand-dark-200: #B1B5C5;
  --color-brand-dark-300: #8A90A8;
  --color-brand-dark-400: #636B8B;
  --color-brand-dark-500: #191F2F;
  --color-brand-dark-600: #141927;
  --color-brand-dark-700: #0F131F;
  --color-brand-dark-800: #0A0D17;
  --color-brand-dark-900: #05070F;
  --color-brand-dark-950: #030408;

  --color-brand-accent-50: #FAFCE8;
  --color-brand-accent-100: #F5F9D1;
  --color-brand-accent-200: #EBF3A3;
  --color-brand-accent-300: #E1ED75;
  --color-brand-accent-400: #D7E747;
  --color-brand-accent-500: #D1E60B;
  --color-brand-accent-600: #A7B809;
  --color-brand-accent-700: #7D8A07;
  --color-brand-accent-800: #535C05;
  --color-brand-accent-900: #292E02;
  --color-brand-accent-950: #141701;
}